<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<p>Number of Products: <%= @products_count %>(<%= link_to 'View Products', admin_products_path %> )</p>
<p>Number of Categories: <%= @categories_count %></p>
