<section class="products-index">
  <header class="page-header">
    <div class="intro">
<h2>We have these categories</h2>
    </div>
  </header>

  <div class="products">
    <%= render @categories %>
  </div>
</section>
